<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-button fill="clear" size="large" (click)="cancel()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" size="large" (click)="logOut()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
    <ion-title color="light">Widget</ion-title>
  </ion-header>

  <ion-content padding center text-center> 
   <ion-item no-lines no-lines color="#0000" color="dark" *ngFor="let variable of variables" (click) = "selectVariable(variable.id)">
        <ion-label>Variable: {{variable.name}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-text color="medium">
          <h4>
            <ion-label position="stacked">CHOOSE VALUE<ion-text color="danger">*</ion-text>
            </ion-label>
          </h4>
          <ion-select class= "myCustomSelect" [(ngModel)]="choose_prop" interface="action-sheet">
            <ion-select-option   *ngFor="let property of properties" value= {{property.id}}>{{property.name}}</ion-select-option>
          </ion-select>
        </ion-text>
      </ion-item>
     
      <ion-item>
        <ion-text color="medium">
          <h4>
            <ion-label position="stacked">CHOOSE COLOR<ion-text color="danger">*</ion-text>
            </ion-label>
          </h4>
          <ion-select class= "myCustomSelect" [(ngModel)]="choose_color" interface="action-sheet">
            <ion-select-option color="success" value= "green"> Green </ion-select-option>
            <ion-select-option  color="warning" value= "yellow"> Yellow </ion-select-option>
            <ion-select-option   color="danger" value= "red"> Red </ion-select-option>
            <ion-select-option color="secondary" value= "blue"> Blue</ion-select-option>
          </ion-select>
        </ion-text>
      </ion-item>
     

      <div id= "create-div"> 
        <ion-button shape="round" color="tertiary" expand="block" (click)="selectProp()">Add</ion-button>
      </div>
  </ion-content>
      
    
 