<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-button fill="clear" size="large" (click)="cancel()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" size="large" (click)="logOut()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
    <ion-title color="light">Widget</ion-title>
  </ion-header>

  <ion-content padding center text-center> 
   <ion-item *ngIf="variables">
        <ion-text color="medium">
          <h4>
            <ion-label position="stacked">CHOOSE GRAPHIC VALUE<ion-text color="danger">*</ion-text>
            </ion-label>
          </h4>
          <ion-select class= "myCustomSelect" [(ngModel)]="choose_var" interface="action-sheet">
            <ion-select-option   *ngFor="let variable of variables" value= {{variable.id}}> {{variable.name}}</ion-select-option>
          </ion-select>
          <div> 
            <ion-button shape="round" color="secondary" expand="block" (click)="selectVariable()">Add</ion-button>
          </div>
        </ion-text>
      </ion-item>

      <ion-item *ngIf="properties">
        <ion-text color="medium">
          <h4>
            <ion-label position="stacked">CHOOSE LED VALUE<ion-text color="danger">*</ion-text>
            </ion-label>
          </h4>
          <ion-select class= "myCustomSelect" [(ngModel)]="choose_prop" interface="action-sheet">
            <ion-select-option *ngFor="let property of properties" value= {{property.id}}>{{property.name}}, {{property.value}}</ion-select-option>
          </ion-select>
        </ion-text>
      </ion-item>
        
      <ion-item *ngIf="properties">
        <ion-text color="medium">
          <h4>
            <ion-label position="stacked">CHOOSE COLOR for TRUE<ion-text color="danger">*</ion-text>
            </ion-label>
          </h4>
          <ion-select class= "myCustomSelect" [(ngModel)]="choose_color" interface="action-sheet">
            <ion-select-option value= "success"> Green </ion-select-option>
            <ion-select-option value= "light"> White </ion-select-option>
            <ion-select-option value= "danger"> Red </ion-select-option>
            <ion-select-option value= "secondary"> Blue</ion-select-option>
          </ion-select>
        </ion-text>

        <div> 
          <ion-button shape="round" color="secondary" expand="block" (click)="selectProp()">Add</ion-button>
        </div>
      </ion-item>
     
  </ion-content>
      
    
 