<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-button fill="clear" size="large" (click)="cancel()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" size="large" (click)="logOut()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
    <ion-title color="light">Project Detail</ion-title>
  </ion-header>

  <ion-content padding center text-center> 
    <div class="ion-padding" >
   <ion-card *ngFor = "let variable_data of project_var">
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card color="dark" *ngFor = "let property_data of project_prop">
      <ion-card-header><ion-card-title  color="medium"><ion-label color="#0000">LED</ion-label></ion-card-title></ion-card-header>
      <ion-card-content>
        {{property_data}}
      </ion-card-content>
    </ion-card>
    </div>
  </ion-content>